::ng-deep {
    .mat-mdc-menu-panel{
        background-color: #eff3f5 !important;
        min-width: 300px !important;
        border-radius: 16px !important;
    }

    .mat-mdc-menu-content {
        display: flex;
        align-items: center;
        padding: 0px !important;
        flex-direction: column;
    }

    .mat-mdc-menu-item {
        color: var(--primary-color) !important;
        gap: 1rem;
    }

}

hr {
    border-color: #d0dbe2;
    width: 100%;
}