.spacer {
    flex: 1 1 auto;
}
::ng-deep {
    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 10px !important;
        background-color: var(--light-primary-color) !important;
    }
    .mat-mdc-menu-item-text {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    
    .mat-mdc-menu-item .mat-icon {
        margin-right: 0px !important;
    }

    .icon {
        width: auto !important;
        height: 24px !important;
    }

    .mat-mdc-icon-button.mat-mdc-button-base{
        padding: 0px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
